# ide
.idea/*
!.idea/runConfigurations
!.idea/codeStyles
!.idea/inspectionProfiles
!.idea/copyright
*.iml

# build
connect.go
migration.go
sqlc-addon

# node
node_modules
pnpm-lock.yaml
package-lock.json
